

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="home">Home</a></li>
      <li><a routerLink="about">About</a></li>
    
    </ul>
  </div>
</nav>


<div>
  <router-outlet></router-outlet>
</div>

<!--<ul>
  
  
  <li>Name: {{name}}</li>
  
  
  <li>Age:{{age}}</li>
  
  
  <li>Number Array: {{numArray}}</li>
  
  
  <li>String Array: {{strArray}}</li>
  
  
  <li>Dynamic value: {{dynamicValue}}</li>
  
  
  <li>Is true: {{IsTrue}}</li>
  
  
  <li>Tuple:{{tupleVal}}</li>
  
  <li>{{student.name}}</li>
  <li>Student Object:{{student|json}}</li>

  <li>Employee:{{employee|json}}</li>
</ul>-->